* {
  width: 100%;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.header {
  text-align: center;
  color: #2980b9;
  text-decoration: underline;
  padding-top: 3rem;
}
.pragraph {
  width: 30rem; /*make equal line for pharagraph*/
  margin-left: 27rem;
  margin-top: 3rem;
  margin-bottom: 3rem;
}
.footer {
  background-color: #fafabf;
  height: 15rem;
}
.all-item {
  display: grid;
  grid-template-columns: 1fr 1fr;
}
.form {
  display: flex;
  flex-direction: column;
}
.form input {
  width: 15rem;
  height: 2rem;
  border-radius: 50px;
  border: none;
  margin-top: 5rem;
}
.form ul {
  margin-top: 5rem;
  margin-left: 20rem;
}
.form ul li {
  text-decoration: none;
  list-style: none;
  font-size: 1.5rem;
}
.form ul li a {
  text-decoration: none;
  color: black;
  gap: 10px;
}
.form ul li a:hover {
  color: green;
}
.form ul li a:active {
  color: #2980b9;
}
.form button {
  width: 5rem;
  height: 2rem;
  margin-top: 2rem;
  border-radius: 10px;
  border: none;
  background: linear-gradient(270deg, #ff4500, #2980b9, #dd0add);
  color: p;
}
